<html>
<head>

</head>

<body bgcolor="purple">
 <div class="login">
	<h1 style="text-align:center; color:LightSkyBlue;">analysis details </h1>
     <h2 style="text-align:center; color:green;">Predict The Performance Rating of Employee is 4 than it good as the emplyee is performing very well</h2>
     <h2 style="text-align:center; color:orange;">Predict The Performance Rating of Employee is 3 than it average as the emplyee is performing very well</h2>
     <h2 style="text-align:center; color:red;">Predict The Performance Rating of Employee is 2 than it good as the emplyee is performing very well</h2>
</body>
</html>