<!DOCTYPE HTML>
<html>
<head>  
<link rel="stylesheet" type="text/css" href="mystyle.css"/>

</head>
<body>
		<div id="main">
			<div id="header">
				<div id="logo">
					<div id="logo_text">
						<h1><a href="#">Human Resource <span class="logo_color">management system</span></a></h1>
						<h2>home</h2>
					</div>
				</div>
				
				<div id="menubar">
					<ul id="menu">
						<li class="selected"><a href="frmhome.html">Home</a></li>
						<li>
							<a href="http://127.0.0.1:5000/">Register details.</a>
						</li>
						<li>
						<a href="frmemp_display.php">Display Empl.</a>
						</li>
												
					</ul>
				</div>
			</div>
			<div id="outerbox">
				<div id="sliderbox">
					<img src="images/1.PNG"/>
					<img src="images/2.PNG"/>
					<img src="images/6.JPG"/>
					<img src="images/4.jpg"/>
					<img src="images/5.jpg"/>
					<img src="images/1.png"/>
				</div>
			</div>
			<br>
			<br>
			<br ><font size=30 face="algerian"color=#FFEE00><div align="center">Human Resource</div></font>
			<br>
			<font size=5 face="century" color=black><p class="space">Human resources are inarguably an organization's most valuable asset. For an organization to excel with other organization human resources plays a crucial role. The role of HR includes the following:
			<ul style=circle>
				<b><li>1.Identifying the right talent for the right role</li>
				<li>2.Proper compensation and benefits</li>
				<li>3.Managing employee motivations, grievances and feelings</li>
				<li>4.Managing exits</li></b>
				</font>
			</ul>
		
			</p>
			<br>
			<br>
			<font size=30 face="algerian"color=#FFEE00><div align="center">How Machine Learning comes into play?</div></font>
			<br>
			<font size=5 face="century" color=black>
			<p class="space">
				Human resources have been using analytics for years. However, the collection, processing and analysis of data has been largely manual, and given the nature of human resources dynamics. Moreover, in certain circumstances, people sometimes default to their emotions, biases; prejudices etc. and this could result in inefficient decisions being made. This can have a negative impact on the organization’s growth and return on investment.
				Also, managing and analyzing such vast amounts of HR data manually or semi-manually is time consuming and prone to mistakes.
				This is the age of big data. To manage employees, you need data on:
			</p>
			<p class="space">
				<ul>
				<b>
					<li>1.Employee attitudes and feelings</li>
					<li>2.Credentials or qualifications</li>
					<li>3.Employee views toward policies</li>
					<li>4.Compensation and benefits trends</li>
					<li>5.Relevant external developments such as the job market and rival organizations and their impact on your employees</li>
				</b>
				</ul>
			</p>
			<p class="space">
			
			
				That adds up to a humongous data volume arriving every moment. Manual management is simply ill-equipped to handle it. 
				This is where Machine Learning comes in. Machine Learning consistently accept, store and process such data volumes and provide relevant and actionable insights in the form of simple analytics. 
			</p>
			
</font>
<div style="width:95%; margin:10px auto 80px auto;">
<br><br>
<div id="chartContainer" style="height: 370px; width: 100%;"></div>
<script src="canvasjs.min.js"></script>

</div>
			
			<div id="footer">
				<p>|<a href="frmhome.php">Home</a> | <a href="EmployeeRegistration.php">Updates</a> | <a href="frmattendance.php">About us</a> |

				<p>CONTACT | <a href="https://mail.google.com">Email</a> | <a href="https://www.facebook.com/">Facebook</a> | <a href="https://www.linkedin.com/feed/">Linkedin </a></p>
			</div>
		</div>
	</body>
</html>